.jumbotron h1 {
	text-align: center;	
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: black;
	margin: 10px;
}

.jumbotron hr {
	color: blue;
}

.jumbotron h2 {
	text-align: center;	
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: black;
}

.tabs {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

ul.tabs{	
	list-style: none;
}

ul.tabs li{
	background: none;
	color: black;
	display: inline-block;
	padding: 10px 50px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #dbdbdb;
	color: black;
}

.tab-content{
	display: none;
	background: #dbdbdb;
	padding: 20px;
}

.tab-content.current{
	display: inherit;
}

.information {
	text-align: center;
}

img.header-img {
	padding-bottom: 2px;
	height: 80%;
	width: 80%;
	max-height: 250px;
	max-width: 250px;
}
